a[href^="mailto:"]{
    color: white;
  }

  *{
      color: white;
  }
.contactBody{
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: left;
    padding-top: 7%;

}

.contactGrid{
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550;
    color: black;
    border: 2px solid white;
    margin-bottom: 20px;
    margin-left: 10%;

}

.contactGrid h2{
    font-family: 'Rock Salt', cursive;
 

}

.contactGrid h4{
font-weight: bold;
font-family: 'Rock Salt', cursive;


}
.contactGrid hr{
    width: 50%;
    margin: auto;
    border-top: 4px solid white;

}



.contactList i{
    font-size: 150%;
    padding-right: 5rem;
   

}